<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tenetur magnam recusandae, facere vero vitae alias odit totam rem sit neque, distinctio nulla autem soluta in cum eveniet ut mollitia?</p>
        <p>Recusandae magnam facilis velit corrupti? Placeat perspiciatis, magni maxime esse velit eligendi quisquam mollitia et porro quas eveniet quibusdam minima voluptatum veritatis accusamus fuga repellendus voluptas aliquam eius voluptatem libero!</p>
        <p>Quia perferendis beatae quidem facere sequi officia dolorum blanditiis commodi reiciendis qui enim, vero dolores voluptatem aliquam eveniet, harum maiores aperiam eos accusamus cumque. Aperiam iure nobis quo consectetur hic.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>